<p id="notice"><%%= notice %></p>

<h1 class="page-header">Show <%= singular_name.titleize %></h1>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
<dl>
  <dt><%= attribute.human_name %>:</dt>
  <dd><%%= @<%= singular_name %>.<%= attribute.name %> %></dd>
</dl>

<% end -%>
<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_name %>) %> |
<%%= link_to 'Back', <%= index_helper %>_path %>
