<p id="notice"><%%= notice %></p>

<h1 class="page-header">Show <%= singular_name.titleize %></h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_name %>), class: 'btn btn-default' %>
    <%%= link_to 'Back', <%= index_helper %>_path, class: 'btn btn-default' %>
  </div>

  <% attributes.reject(&:password_digest?).each do |attribute| -%>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th class="col-sm-3 text-right"><%= attribute.human_name %></th>
          <td class="col-sm-9"><%%= @<%= singular_name %>.<%= attribute.name %> %></td>
        </tr>
      </tbody>
    </table>
  <% end -%>

</div>
